*
{
    margin: 0;
    padding: 0;
}
header
{
    background-image:
     linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0.2)), url(background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

}
.main-nav
{
    float: right ;
    list-style: none;
    margin-top: 30px;
}
 .main-nav li
 {
     display: inline-block ;
 }
 .main-nav li a
 { color: white ;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
 }
 .main-nav li.active a
{
    border: 1px solid white;
}
.main-nav li a:hover
{
    border: 1px solid white ;
}
.hero
{
    position:absolute ;
    width: 1200px ;
    margin-left: 100px;
    margin-top: 350px;
}
h2{
    color: antiquewhite;
    text-transform: uppercase;
    font-size:40px;
    text-align:none ;
    margin-top: 2px:
}
h1
{
    color: white;
    text-transform: uppercase;
    font-size:70px;
    text-align: center;
    margin-top: 275px:

}

.button
{
    margin-top: 30px;
    margin-left: 440px;
}
.btn {
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;


}
.btn-one{

    background-color: darksalmon;
    font-family: "Roboto" ,sans-serif;
}
.btn-two{
    
    font-family: "Roboto" ,sans-serif;
}
.btn-two:hover
{
    background-color: darksalmon;
    transition: all 0.5s ease-in;
}

.ex8 .parent {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .ex8 .visual {
    height: 100px;
    width: 100%;
  }

  .ex8 .card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
  }

  .ex8 h3 {
    margin: 0
  }